<div class="ep">
    <div class="ep__img">
        <div class="ep__imggalery">
            <img class="imgbtn" src="../data2/{{product.img1}}" alt="">
            {{#if product.img2}}
                <img class="imgbtn" src="../data2/{{product.img2}}" alt="">
            {{/if}}
            {{#if product.img3}}
                <img class="imgbtn" src="../data2/{{product.img3}}" alt="">
            {{/if}}
            {{#if product.img4}}
                <img class="imgbtn" src="../data2/{{product.img4}}" alt="">
            {{/if}}
        </div>
        <div class="ep__imgphoto">
            <img class="imgproductbig" src="../data2/{{product.img1}}" alt="">
        </div>
    </div>

    <div class="ep__descrip">
        <h3 class="tx20">{{product.name}}</h3>
        <div class="stars"><img src="../data2/{{product.stars}}" alt=""></div> {{!--REVISAAAAAAAAAAAAAAR --}}
        <p class="tx20">${{product.price}}.000</p>
        <p class="tx20">{{product.description}}</p>
        <button class="btn addtocart">Agregar al carrito</button>
    </div>
</div>
