{{!-- Lo que ponga aqui sera reemplazado en el body --}}

{{!-- <div class="banner">
    <h1 class="banner__title">LUCE UN ESTILO KYLIE</h1>
    <p class="banner__text tx20">Esta paleta es tu arma secreta para crear el look perfecto de Kylie</p>
    <button class="btn button--cta">¡La quiero!</button>
</div> --}}
<div class="store">
    <div class="filorg">
        <div class="filorg__org">
            <h2>Ordenar</h2>
            <form action="/tienda" method="GET">
                <select name="order">
                    <option value="cheap">Precio ascendiente</option>
                    <option value="expensive">Precio descendiente</option>
                    <option value="az">De A a Z</option>
                    <option value="za">De Z a A</option>
                    <option value="new">Últimos agregados</option>
                </select>
                <button type="submit">Ordenar</button>
            </form>
        </div>

        <div class="filorg__fil">
            <h2>Filtrar</h2>
            <h3>Productos</h3>
            <input class="filter-option" type="checkbox" name="checkbox" value="eye" id="eye">
            <label for="eye">Ojos</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="lip" id="lip">
            <label for="lip">Labios</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="face" id="face">
            <label for="face">Rostro</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="body" id="body">
            <label for="body">Cuerpo</label>
            <br>

            <h3>Precio</h3>
            <input class="filter-option" type="checkbox" name="checkbox" value="ten" id="ten">
            <label for="ten">10.000 - 40.000</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="forty" id="forty">
            <label for="forty">41.000 - 70.000</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="seventy" id="seventy">
            <label for="seventy">71.000 - 100.000</label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="onehundred" id="onehundred">
            <label for="onehundred">101.000 - 130.000</label>
            <br>

            <h3>Popularidad</h3>
            <input class="filter-option" type="checkbox" name="checkbox" value="one" id="one">
            <label for="one"><img src="./data2/p1.png" alt=""></label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="two" id="two">
            <label for="two"><img src="./data2/p2.png" alt=""></label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="three" id="three">
            <label for="three"><img src="./data2/p3.png" alt=""></label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="four" id="four">
            <label for="four"><img src="./data2/p4.png" alt=""></label>
            <br>
            <input class="filter-option" type="checkbox" name="checkbox" value="five" id="five">
            <label for="five"><img src="./data2/p5.png" alt=""></label>
        </div>

    </div>

    <div class="products">

        {{#each products}}
            <div class="generalproduct">
                {{!-- <img src="" alt=""> --}}
            <a href="/producto/{{name}}">
                <div class="divimage">
                    <img class="imgproduct" src="./data2/{{img1}}" alt="">
                </div>
            </a>
            <a href="/producto/{{name}}">
                <h3 class="tx20">{{name}}</h3>
            </a>
                {{!-- <img src="" alt=""> --}}
                <div class="stars"><img src="./data2/{{stars}}" alt=""></div>
                <p class="tx20">{{price}}</p>
                <button class="btn addtocart" data-name="{{this._id}}">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>
</div>


{{!-- <script src="/scripts/store.js"></script> --}}