{{!-- Lo que ponga aqui sera reemplazado en el body --}}

<div class="banner">
    <h1 class="banner__title">LUCE UN ESTILO KYLIE</h1>
    <p class="banner__text tx20">Esta paleta es tu arma secreta para crear el look perfecto de Kylie</p>
    <button class="btn button--cta">¡La quiero!</button>
</div>

<div class="products">

    
    {{#each products}}
        <div class="generalproduct">
            {{!-- <img src="" alt=""> --}}
           <a href="/producto/{{name}}">
               <div class="divimage">
                   <img class="imgproduct" src="./data2/{{img1}}" alt="">
               </div>
           </a>
           <a href="/producto/{{name}}">
               <h3 class="tx20">{{name}}</h3>
           </a>
            {{!-- <img src="" alt=""> --}}
            <div class="stars"><img src="./data2/{{stars}}" alt=""></div>
            <p class="tx20">{{price}}</p>
            <button class="btn addtocart" data-name="{{this._id}}">Agregar al carrito</button>
        </div>
    {{/each}}
    

</div>


{{!-- <script src="/scripts/store.js"></script> --}}